.scroll-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}

#Cars {
  min-height: 100vh;
  
  .horizontal-cardlist {
    height: 100%;
  }

  .topbar {
    padding: 2em;
  }

  .card {
    background-color: transparent;
    width: 100vw;
    // height: 92vh;
    // opacity: 0.8;
    border-radius: 0;
    padding: 1em;
    // margin: 28px 40px 0px 28px;
  }
}