#Home {
    padding: 1em;

    button {
        // color: white;

        &:active {
            color: grey;
        }
    }

    .has-button {
        writing-mode: vertical-rl;
    }

    .card {
        margin: 0;
        width: 100%;
        height: 12em;
    }
}

.topbar {
    .col {
        margin: 1em;
    }

}

label {
    font-size: 9pt;
    font-weight: bolder;
    margin-right: 1em;
}