#Home {
    padding: 1em;
    
    button {
        color: white;

        &:active {
            color: grey;
        }
    }

    .has-button {
        writing-mode: vertical-rl;
    }
}

.topbar {
    .col {
        margin: 1em;
    }
}