main#App {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(to top right, rgb(8, 8, 8), rgb(31, 44, 74));
  text-align: center;
}

.navbar {
    position: absolute;
    bottom: 0;
}

.toast {
  text-align: initial;
  background-color:yellow;

  button span {
    color: grey;
  }
}